.capitalize {
    text-transform: capitalize;
  }



.newListLi {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: capitalize;
    padding: 0 5px;
    list-style: none;
    font-size: 1.3em;
    margin-bottom: 5px;
    cursor: context-menu;
}

.newListLi .btn {
    font-weight: 300;
}


@media screen and (min-width:320px) {
    .listSummarySection .myListSummary-wraper {
        height: 14vh;
        margin-top: 13%;
    }

    .myListSummary {
        padding-left: 0;

    }

    .myListSummary li {
        text-align: left;
    }

}

@media screen and (min-width:800px) {
    .myListSummary {
      padding-left: 40px;
    }
  
    .myListSummary li {
      text-align: unset;
    }
  }

  @media screen and (min-width:992px) {
    .listSummarySection .myListSummary-wraper {
        height: 30vh;
        margin-top: 30%;
      }

  }